<div class="darkbox">
  <h1>LOCATION</h1>
  Hotel Marriot<br>
  Kalvebod brygge 1<br>
  DK-1111 København K
  <hr>
  <h1>DATE</h1>
  October 22<sup>nd</sup> 2014
  <hr>
  <h1>TIME</h1>
  <div style="padding-bottom:8px">9:00 - 17:00</div>
  <a  title="CoDe CPH 2014 Venue: The Copenhagen Mariott Hotel" target="_blank" href="https://mapsengine.google.com/map/embed?mid=z8eP2sDPYpyg.kPJj_4MICoiM">
    <img
      width="200"
      frameborder="0"
      style="border:0"
      src="/images/CoDeCPH2014-venue.png"
    </img>
  </a>
</div>

<div style="height:15px"></div>
<div class="darkbox" style="height:70px">
  <div style="float:left;"><h1>Social</h1></div>
  <img width="70px" style="float:right;" src="/images/twitter-icon.png">
  <img width="70px" style="float:right;" src="/images/linkedin-icon.png">
</div>
<div style="height:15px"></div>
<div class="greenbox">
  <h1>Register here</h1>
  <hr>
  We're looking forward to see you

</div>
  
  
