<aside id="sidebar">

  <h1>Organizer and host</h1>
  <p>
    <a href="/sponsors/praqma.html">Praqma</a>
  </p>
  
  <h1>Gold sponsors</h1>
  <p>
    <a href="/sponsors/cloudbees.html">CloudBees</a>
  </p>

  <h1>Community sponsors</h1>
  <p>
    <a href="/sponsors/sonymobile.html">Sony Mobile</a><br/>
    <a href="/sponsors/ucph.html">University of Copenhagen</a>
  </p>

  <h1>Become a sponsor</h1>
  <p>
    <a href="mailto:events@praqma.com?subject=Please+contact+me+-+regarding+a+sponsorship+for+the+Copenhagen+Jenkins+CI+events+2014">...You company here?</a>
  </p>
</aside>
