<aside id="sidebar">

  <h1>Organizer and host</h1>
  <p>
    <a href="/sponsors/praqma.html">Praqma</a>
  </p>
  
  <h1>Gold sponsors</h1>
  <p>
    <a href="/sponsors/cloudbees.html">CloudBees</a>
  </p>

  <h1>Community sponsors</h1>
  <p>
    <a href="/sponsors/sonymobile.html">Sony Mobile</a><br/>
    <a href="/sponsors/ucph.html">University of Copenhagen</a>
  </p>

  <h1>Become a sponsor</h1>
  <p>
    <a href="/sponsors/packages.html">Read more about how to become a sponsor.</a>
  </p>
  
<div style="height:15px"></div>
<div class="darkbox" style="font-size:115%">
  <div style="float:left;"><h1>Become a community sponsor</h1></div>
  <div>
    <br/>As a community sponsor you receive a promotion code that you distribute to your colleagues. It's valid for 5 seats at both the conference and the code camp. You get your company logo on the web site and the conference token -  and you get to be in the sponsor lineup and give a 3-5 min pitch to the audience at the conference.  Get the community sponsorship from <a href="http://jcicph14.eventbrite.com" target="_blank"> the regular event registration site</a>   </div>
</aside>
